<div id="wrapper">
    <app-sidebar></app-sidebar>
   
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-navabar></app-navabar>
            <div class="container-fluid mt-5">
    
                <!-- Page Heading -->
               
              
          <div class="row">
            <div class="col">
              <a class="btn btn-sm btn-primary mt-1 mb-2" [routerLink]="['/admin/classe/Ajouter']">Ajouter Classe</a>
            </div>
          </div>

             
                <!-- Content Row -->
      
              <div class="row ">
  
              <!-- Area Chart -->
              <div class="col">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Liste des Classes</h6>
                   
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Classe</th>
                          <th scope="col"> Eleves</th>
                          <th>Modifier</th>
                          <th>Suppr</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td><a [routerLink]="['/admin/users/classe1ere']">Classe 1 ére</a></td>
                          <td>4 éleves</td>
                          <td class="align-middle">
                            <button class="btn btn-sm btn-warning mx-3">
                              <i class="fas fa-edit"></i>
                            </button>
                        </td>
                        <td class="align-middle">
                          <button class="btn btn-sm btn-danger">
                            <i class="fas fa-window-close"></i>
                          </button>
                      </td>
                       
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><a [routerLink]="['/admin/users/classe3eme']">Classe 3 éme</a></td>
                            <td>8 éleves</td>
                            <td class="align-middle">
                              <button class="btn btn-sm btn-warning mx-3">
                                <i class="fas fa-edit"></i>
                              </button>
                          </td>
                          <td class="align-middle">
                            <button class="btn btn-sm btn-danger ">
                              <i class="fas fa-window-close"></i>
                            </button>
                        </td>
                         
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td><a [routerLink]="['/admin/users/classe4eme']">Classe 4 éme</a></td>
                            <td>10 éleves</td>
                            <td class="align-middle">
                              <button class="btn btn-sm btn-warning mx-3 ">
                                <i class="fas fa-edit"></i>
                              </button>
                          </td>
                          <td class="align-middle">
                            <button class="btn btn-sm btn-danger ">
                              <i class="fas fa-window-close"></i>
                            </button>
                        </td>
                         
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td><a [routerLink]="['/admin/users/classe5eme']">Classe 5 éme</a></td>
                            <td>6 éleves</td>
                            <td class="align-middle">
                              <button class="btn btn-sm btn-warning mx-3">
                                <i class="fas fa-edit"></i>
                              </button>
                          </td>
                          <td class="align-middle">
                            <button class="btn btn-sm btn-danger">
                              <i class="fas fa-window-close"></i>
                            </button>
                        </td>
                         
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td><a [routerLink]="['/admin/users/classe6eme']">Classe 6 éme</a></td>
                            <td>8 éleves</td>
                            <td class="align-middle">
                              <button class="btn btn-sm btn-warning mx-3">
                                <i class="fas fa-edit"></i>
                              </button>
                          </td>
                          <td class="align-middle">
                            <button class="btn btn-sm btn-danger">
                              <i class="fas fa-window-close"></i>
                            </button>
                        </td>
                         
                          </tr>
                        
                       
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
              </div>
      
                  <!-- Pie Chart -->
                 
                  </div>
        </div>
        
    </div>
    
</div>

