<div id="wrapper">
    <app-sidebar></app-sidebar>
   
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-navabar></app-navabar>
            <div class="container-fluid mt-5">
    
                <!-- Page Heading -->
               
              
          <div class="row">
            <div class="col">
              <a class="btn btn-sm btn-primary mt-1 mb-2" [routerLink]="['/admin/users/AjouterEleves/ajouterEleves1ere']">Ajouter Eleves</a>
            </div>
          </div>

             
                <!-- Content Row -->
      
              <div class="row ">
  
              <!-- Area Chart -->
              <div class="col">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Classe 1 éme</h6>
                   
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Id</th>
                          <th scope="col">N.P Eleve</th>
                          <th scope="col">Date de naissance </th>
                          <th scope="col">Qualité </th>
                          <th scope="col">N.P Parent</th>
                          <th scope="col">Portable </th>
                          <th scope="col">Adresse </th>
                          <th scope="col">Email </th>
                          
  
                          <th>Modifier</th>
                          <th>Suppr</th>
                          
  
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Aissaoui Rami</td>
                          <td>29/01/2005</td>
                          <td>Demi-pensionnaire</td>
                          <td>M. Aissaoui Tawfik</td>
                          <td>25626432</td>
                          <td>8 Bis,Avenue Hedi Chaker 2000 Bardo</td>
                          <td>---</td>
                          
                          <td class="align-middle">
                            <button class="btn btn-sm btn-warning mx-3" [routerLink]="['/admin/users/EditEleves']">
                              <i class="fas fa-edit"></i>
                            </button>
                        </td>
                        <td class="align-middle">
                          <button class="btn btn-sm btn-danger mx-3">
                            <i class="fas fa-window-close"></i>
                          </button>
                      </td>
                       
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Mnasser ben Youssef</td>
                          <td>14/04/2005</td>
                          <td>Demi-pensionnaire</td>
                          <td>M. Aissaoui Tawfik</td>
                          <td>23401563</td>
                          <td>Résidence les Jasmins A-3-1,2035 l'Aouina</td>
                          <td>souhaouerghi73@gmail.com</td>
                          
                          <td class="align-middle">
                            <button class="btn btn-sm btn-warning mx-3" [routerLink]="['/admin/users/EditEleves']">
                              <i class="fas fa-edit"></i>
                            </button>
  
                        
                          
                        </td>
                        <td class="align-middle">
                          <button class="btn btn-sm btn-danger mx-3">
                            <i class="fas fa-window-close"></i>
                          </button>
                      </td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Touhami Amine</td>
                          <td>24/08/2005</td>
                          <td>Externe</td>
                          <td>M.Touhami</td>
                          <td>26226426</td>
                          <td>20 Avenue des EtatsUnis 1002 Tunis,le Belvédère</td>
                          <td>---</td>
                          
                          <td class="align-middle">
                            <button class="btn btn-sm btn-warning mx-3" [routerLink]="['/admin/users/EditEleves']">
                              <i class="fas fa-edit"></i>
                            </button>
                        </td>
                        <td class="align-middle">
                          <button class="btn btn-sm btn-danger mx-3">
                            <i class="fas fa-window-close"></i>
                          </button>
                      </td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>Ben Youssef Med Amine</td>
                          <td>26/12/2005</td>
                          <td>Externe</td>
                          <td>M.Ben Youssef Lotfi</td>
                          <td>24967585</td>
                          <td>13 rue Nasser Benjaafer 1006 Tunis</td>
                          <td>---</td>
                          
                          <td class="align-middle">
                            <button class="btn btn-sm btn-warning mx-3" [routerLink]="['/admin/users/EditEleves']">
                              <i class="fas fa-edit"></i>
                            </button>
  
                        
                          
                        </td>
                        <td class="align-middle">
                          <button class="btn btn-sm btn-danger mx-3">
                            <i class="fas fa-window-close"></i>
                          </button>
                      </td>
                        </tr>
                        
                       
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
              </div>
      
                  <!-- Pie Chart -->
                 
                  </div>
        </div>
        
    </div>
    
</div>

