
 <section class="container">
     <div class="row d-flex justify-content-center algin-items-center  bg-row">
         <div class="col-md-5 bg-box p-5 rounded shadow">
             <h3 class="text-white">Register</h3>
             <form >
                 <div class="mb-3">
                     <label for="email" class="form-label text-white">Name</label>
                     <input type="email" name="email" class="form-control" id="email">                 
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label text-white">Email</label>
                        <input type="email" name="email" class="form-control" id="email">                 
                       </div>
                    <div class="mb-3">
                        <label for="password" class="form-label text-white">Password</label>
                        <input type="password" name="password" class="form-control" id="password">                 
                       </div>
                      
                       
                       <div class="mb-3"><button type="submit" [routerLink]="['/admin/classe/liste']" class="btn btn-light">Register</button></div>
             </form>
         </div>

     </div>
 </section>
