@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,700;1,100;1,600&display=swap');
.container{
    width: 100%;
    height: 100vh;
   
}
.bg-row{
    margin-top: 150px;
    height: 100vh;
}
.bg-box{
    background-image: url('./../../assets/images/reff.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
}
.form-control,.form-control:focus{
    background: transparent !important;
    color: #fff;
}
.btn-light{
    background-image: linear-gradient( to right, #3f51B5,#9c27b0 );
    color: #fff;
    border-color: transparent !important;
}
.btn-light:hover{
    background-image: linear-gradient( to left, #3f51B5,#9c27b0 );
    color: #fff;
    border-color: transparent !important;
}

